




 <div ng-controller="cartCtrl">
    <h2>Your Cart</h2>
    
    <div class="cart" ng-if="cart.length > 0">
        <ul>
            <li ng-repeat="item in cart">{{item.title}} - ${{item.pricePerServing / 100}}</li>
        </ul>
        <button ng-click="orderCart()">Place Order</button>
    </div>
    
    <div ng-if="cart.length === 0">
        <p>Your cart is empty!</p>
    </div>
    
    <div class="order-notification" ng-if="orderPlaced">
        <div class="sparkle"></div>
        <div class="tick-mark">&#10003;</div>
        <p>Your order is ready and will be delivered within 20 minutes!</p>
    </div>
</div>
