



<!DOCTYPE html>
<html ng-app="app1">
<head>
    <title>Paradise Restaurant</title>
    <link rel="stylesheet" href="styles/Menu.css">
</head>
<body ng-controller="dashboardCtrl">
    
    <div class="dashboard-container">
        <nav class="sidebar">
            <ul>
                <li><a href="#!/register">Register</a></li>
                
                <li><a href="#!/signin">SignIn</a></li>
                <li><a href="#!/menu">Menu</a></li>
                <li><a href="" ng-click="logout()">Logout</a></li>
            </ul>
        </nav>
        
            </div>
        </main>
    </div>
</body>
</html>